* {
    padding: 0px;
    margin: 0px;
    /* The CSS box-sizing property allows us to include the padding and border in an element's total width and height. */
    box-sizing: border-box;
}
/* Applying styles to body */
body {
    font-family: Helvetica, Arial, sans-serif;
    color: #264653;
  }
/* Applying styles to header next */
header {
    padding: 20px 35px;
    background-color: #264653;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

  /* adding a hover effect over the links */
  a:hover {
    color: #fff3a3;
  }
  /* moving the nav div which holds the list to the right and adding a little margin */
  header nav {

    margin: 17px 10px;
  }

  /* making the nav links into flexbox so that they can collapse more gracefully */

  header nav ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      list-style: none;
  }
  /* Applying style to the anchor */
header nav ul li a {
    color: #e9c46a;
    margin: 0 30px;
    text-decoration: none;
    font-weight: lighter;
    /* By setting the next value,font-size, to 1.55vw, we're telling the browser that the font's size should be roughly 1.55% of the window's overall width.  */
    font-size: 1.55vw;
  }
  /* adjusting the main Story Lab header box */
  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #e9c46a;
    margin: 0;

    text-decoration: none;
  }
/* adjusting the Story Lab anchor text */
  header h1 a {
    text-decoration: none;
    color: #e9c46a;
    font-weight: lighter;
    font-size: 36px;
    margin: 0;
    display: inline;
  }
/* taking care of the footer */
  footer {
    background-color: #e9c46a;
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* the Made with love part */
footer h2 {
    color: #264653;
    font-size: 30px;
    margin: 0;
  }
/* the copyright part */
  footer div {
    line-height: 1.5;
    text-align: right;
}


/* putting a background picture for the hero part */
.hero {
    background-image: url("../images/audience.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .hero-CTA {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.3;
  }

  .hero-CTA h2 {
    font-style: italic;
    font-size: 55px;
    color: #e9c46a;
  }


  /* now, general rules for the hero form */
  .hero-form {
    color: #264653;
    background-color: #e76f51;
    padding: 20px;
    border: solid 3px #264653;
    width: 40%;
    margin: 3.5%;
  }
  /* CTA h3 format */
  .hero-form h3 {
    font-size: 24px;
    margin: 0px;
    color: #264653;
    font-weight: lighter;
  }

  .hero-form p {
    margin: 5px 0 15px 0;
    color: #e9c46a;
  }

  /* the fill in boxed stuff */
  .form-input {
    border: 1px solid #264653;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #264653;
    width: 100%;
    margin-bottom: 15px;
  }
/* the actual labels format */
  .hero-form label {
    margin: 0px 5px;
    color: #e9c46a;
  }
/* Let's do this button */
  .hero-form button {
    color: #e9c46a;
    background-color: #264653;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
  }
    /* Hero Style End */



    /* Jungle green: 2A9D8F */
    /* Japanese Indigo: 264653 */
    /* Hansa Yellow: e9c46a */
    /* Sandy brown: f4a261 */
    /* Light red ochre: e76f51 */